$COLOR_DARK_BG: #292c39;
$COLOR_WHITE: #FFFFFF;
$COLOR_PANEL: #14171f;
$COLOR_PANEL_BG: #0c0d10;

$COLOR_VIDEO: #1a224c;
$COLOR_VIDEO_ACTIVE: #25306b;

$COLOR_AUDIO: #2f4219;
$COLOR_AUDIO_ACTIVE: #445f25;

$COLOR_IMAGE: #4a371a;
$COLOR_IMAGE_ACTIVE: #654b24;

$COLOR_TEXT: #163a3a;
$COLOR_TEXT_ACTIVE: #246565;

$COLOR_BG_BLUE: #02042D;